@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="card card-login">
    <div class="card-header">
        <h3 class="card-title m-0 text-white">Fake.Accounts</h3>
    </div>
    <div class="card-body">
        <h6 class="text-white small">Entre com sua conta Fake:</h6>
        <br/>
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">E-mail:</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Senha:</label>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Entrar</button>
            </div>
        </form>
        <div class="mt-4">
            <a href="/recoverPassword" class="text-white">Esqueci minha senha</a>
        </div>
        <div class="mt-4">
            <p class="text-white"><small>Ainda não tem uma conta?</small><br/><a href="/register" class="text-white">Criar uma conta</a></p>
        </div>
    </div>
</div>
