@page
@model LoginModel
@{
    ViewData["Title"] = "Redefinir senha";
}

<div class="card card-login">
    <div class="card-header">
        <h3 class="card-title m-0 text-white">Fake.Accounts</h3>
    </div>
    <div class="card-body">
        <h6 class="text-white small">Redefina sua senha:</h6>
        <br/>
        <form>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Senha:</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Confirmar senha:</label>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Redefinir</button>
            </div>
        </form>
        <div class="mt-4">
            <p class="text-white"><small>Já possui conta?</small><br/><a href="/login" class="text-white">clique aqui</a></p>
        </div>
    </div>
</div>
