@page
@model IndexModel
@{
    ViewData["Title"] = "Recover password";
}

<div class="card card-login">
    <div class="card-header">
        <h3 class="card-title m-0 text-white">Fake.Accounts</h3>
    </div>
    <div class="card-body">
        <h6 class="text-white small">Recuperação de senha:</h6>
        <br/>
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">E-mail:</label>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Confirmar e-mail</button>
            </div>
        </form>
        <div class="mt-4">
            <p class="text-white"><small>Já possui conta?</small><br/><a href="/login" class="text-white">clique aqui</a></p>
        </div>
    </div>
</div>
